@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap')
	;

* {
	font-family: 'Style Script', 'Nanum Brush Script';
}

a:link {
	color: #2E9AFE;
	text-decoration: none;
}

a:visited {
	color: #2E9AFE;
	text-decoration: none;
}

a:hover {
	color: #2E9AFE;
	text-decoration: none;
}

.profilediv {
	width: 500px;
	height: 500px;
	border-radius: 70%;
	border-width: 3px;
	border-color: pink;
	overflow: hidden;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
}

.profilepic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container {
	background-color: white;
	border-radius: 50px;
	width: 90%;
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.profileinfo {
	margin-left: 2%;
	font-size: 3rem;
}

.star {
	float: left;
	width: 55px;
	margin: 5px 10px;
}

